* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider-wrapper{
	background-color: #8d8d8d;
	height: 750px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
}
.slider-content {
	position: relative;
	top:45%;
}
.slider-images{
	line-height: 1200px;
}
.main-wrapper {
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 90px;
}
.main{
  margin: 0 auto;
	display: inline-block;
	width:45%;
}
.main-title{
	text-transform: uppercase;
}
.main-title p,h2{
	margin:0;
}
.main-content{
	margin-top: 30px;
	font-size: 14px;
}
.main-side{
	width:35%;
	display: inline-block;
	vertical-align: top;
	margin-left: 100px;
}
.nav-wrapper {
  margin: 0 auto;
  height: 50px;
  /*width: 1150px;*/
  background-color: #e5eef0;
  line-height: 50px;
}
.nav-wrapper__contact {
  font-size: 14px;
  height: 50px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 1150px;
  color: #999999;
  font-weight: bold;
}
.nav-wrapper__contact p{
  margin: 0 auto;
  display: inline-block;
}
.nav-wrapper__contact ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.nav-wrapper__contact li{
  width: 200px;
  margin: 0;
  display: inline-block;
}
.nav-wrapper__contact li:nth-child(1) {
  border-color: #bbbbbb;
  border-width: 1px;
  width: 180px;
  border-right-style: solid;
}
.nav-wrapper__contact h3{
  line-height: 50px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 14px;
}
.nav-wrapper__contact li h3{
  padding-left: 20px;
}
.nav-wrapper__contact img {
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.nav-wrapper__contact a {
  color: inherit;
  text-decoration: none;
}
.nav-wrapper__container {
  font-size: 14px;
  height: 80px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 1150px;
  color: #999999;
  font-weight: bold;
}
.nav-wrapper__container img{
  margin: 0 auto;
  padding-top: 20px;
}
.nav-wrapper__container h1{
  position: absolute;
  left: -99999px;
}
.nav-wrapper__menu {
  font-size: 14px;
  height: 80px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 1150px;
  line-height: 80px;
}
.nav-wrapper__menu button {
  margin: 0 auto;
  height: 38px;
  line-height: 38px;
  width: 142px;
  border: 0px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: #29c2e1;
  border-width: 0;
  border-radius: 19px;
  color: #fff;
}
.nav-wrapper__menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.nav-wrapper__menu li{
  height: 80px;
  line-height: 80px;
  padding-left: 42px;
  margin: 0;
  display: inline-block;
}
.nav-wrapper__menu a{
  color: inherit;
  text-decoration: none;
}
.promotion {
  height: 320px;
  margin: 0 auto;
  color: #666666;
  text-align: center;
  text-transform: capitalize;
    clear: both;
}
.promotion h3{
  font-size: 30px;
  margin: 0 auto;
  padding-top: 102px;
}
.promotion span{
  color: #ff9933;
}
.promotion p{
  margin: 0 auto;
  padding-top: 10px;
  text-transform: uppercase;
}
.promotion__signup {
  margin-top: 32px;
  margin-right: 20px;
  height: 38px;
  line-height: 38px;
  width: 142px;
  border: 0px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: #29c2e1;
  border-width: 0;
  border-radius: 19px;
  color: #fff;
}
.promotion__contact {
  margin: 0 auto;
  margin-top: 32px;
  height: 38px;
  line-height: 38px;
  width: 142px;
  border: 0px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff9933;
  border-width: 0;
  border-radius: 19px;
  color: #fff;
}
.footer-navigation {
  font-size: 16px;
  height: 260px;
  width: 1150px;
  margin: 0 auto;
  text-align: center;
  border-color: #bbbbbb;
  border-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  color: #999999;
}
.footer-navigation h3{
  color: #000;
  font-size: 18px;
  text-transform: capitalize;
}

.footer-navigation ul{
  list-style: none;
}
.footer-navigation li{
  text-align: left;
  width: 210px;
  display: inline-block;
  vertical-align: top;
}
.footer-navigation a{
  text-decoration: none;
  color: #999999;
}
.footer-navigation span{
  color: #000;
}
.footer-navigation img {
  padding-top: 20px;
  padding-right: 20px;
}
.footer-navigation__form {
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
}
.footer-navigation__form input{
  margin: 0 auto;
  width: 166px;
  height: 42px;
  background-color: #fff;
  text-align: left;
  margin-top: 30px;
  padding-left: 10px;
}
.footer-navigation__form button {
  margin: 0 auto;
  margin-left: -6px;
  background: #29c2e1 ;
  height: 42px;
  width: 42px;
  line-height: 42px;
  border: 0px;
  color: #fff;
  text-align: center;
}
.footer-navigation__copyright {
  height: 110px;
  padding-top: 18px;
  text-align: center;
  color: #999999;
  text-transform: uppercase;
}
.footer-navigation__copyright h3{
  font-size: 14px;
  font-weight: normal;
}
.client-wrapper {
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 90px;

}
.client-color{
	background-color: #e4eff2;
}
.title{
	text-transform: uppercase;
}
.subtitle{
	text-transform: uppercase;
}
.client-content{
	margin-top: 30px;
	display: inline-block;
	font-size:14px;
	padding-right: 25px;
	border-right: thick solid #555555;
}
.client-main{
	width:45%;
	display: inline-block;
}
.client-side{
	width:35%;
	display: inline-block;
}
.main-side  h3{
	display: inline-block;
}

.features-wrapper {
  margin-left: 200px;
    margin-right: 200px;
}

.features-title-wrapper {
    margin-top: 99px;
    margin-bottom: 60px;
    text-transform: uppercase;
}

.features-title-wrapper h3 {
    margin-bottom: -18px;
}

.client-content::before {
    content: "\201C";
    font-size: 80px;
    color: #000000;
}

.quote-name {
    text-transform: uppercase;
    color: #ff9933;
}

.features-container ul {
    list-style-type: none;
    padding-left: 0;
}

.features-container li {
    display: inline-block;
    width: 300px;
    height: 150px;
}


.feature-list-image {
    display: inline-block;
    float: left;
}

.feature-list-text {
    display: block;
    margin-left: 60px;
}

.center-feature-area {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 30px -110px;
}

.features-button-wrapper {
    width: 50%;
    margin: 0 auto;
}

.feature-list-text-title p {
    margin-top: 0;
}

.prices-container ul {
    list-style: none;
}

.prices-element {
    display: inline-block;
    width: 200px;
    height: 420px;
    float: left;
    margin-right: 30px;
    text-align: center;
}

.prices-first-element {
    margin-left: -39px;
}

.prices-element-details ul {
    list-style: none;
    margin-top: 40px;
    padding: 0;
}

.prices-element-details li {
    margin-bottom: 25px;
}

.team-container ul {
    list-style: none;
}

.team-element {
    display: inline-block;
    width: 200px;
    height: 420px;
    float: left;
    margin-right: 30px;
    text-align: center;
}

.team-first-element {
    margin-left: -39px;
}

.team-social-icons li {
    float: left;
}

.fix-team-background {
    clear: both;
    height: 650px;
}

.fix-team-background-padding {
    padding-top: 50px;
}

.stats {
  margin: 0 auto;
  height: 250px;
  background-color: #e5eef0;
}
.stats ul{
  text-align: center;
  margin: 0 auto;
  width: 1150px;
  list-style: none;
}
.stats li{
  text-align: left;
  padding-top: 70px;
  padding-right: 35px;
  width: 250px;
  display: inline-block;
}
.stats h3 {
  margin: 0;
  font-size: 60px;
  color: #333333;
}
.stats p{
  margin: 0;
  font-size: 14px;
  padding-left: 20px;
  color: #333333;
  text-transform: uppercase;
}
.stats img {
  margin-right: 10px;
  padding-top: 15px;
}
.top-banner {
  margin: 0 auto;
  padding-top: 100px;
  height: 310px;
  background: #8e8e8e;
  text-align: center;
}
.top-banner h1{
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  font-size: 50px;
}
.top-banner p{
  padding-top: 20px;
  margin: 0 auto;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}
.slider-content h1{
  margin: 0;
}
.services {
  margin: 0 auto;
  margin-top: 80px;
  width: 1000px;
  height: 2200px;
  text-align: center;
}
.services h2{
  text-align: left;
  text-transform: capitalize;
  font-size: 30px;
}
.services p{
  text-align: left;
  text-transform: capitalize;
  font-size: 18px;
  padding-bottom: 40px;
}
.services ul{
  text-align: center;
  margin: 0 auto;
  width: 1150px;
  list-style: none;
}
.services li{
  width: 900px;
  text-align: justify;
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-color: #666666;
  padding-top: 60px;
}
.services li:nth-child(3){
  border: 0;
}
.services img{
  padding-left: 50px;
}
.services__body{
  margin: 0 auto;
  width: 630px;
  float: right;
}
.services__body h2{
  padding-left: 10px;
  text-transform: capitalize;
  font-size: 20px;
  border: 0;
  border-left: 4px;
  border-color: #29c2e1;
  border-style: solid;
  color: #333333;
}
.services__body p{
  text-align: justify;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 32px;
  font-size: 14px;
  color: #333333;
}
.services__body button{
  margin: 0 auto;
  margin-bottom: 40px;
  height: 38px;
  line-height: 38px;
  width: 142px;
  border: 0px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: #29c2e1;
  border-width: 0;
  border-radius: 19px;
  color: #fff;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  margin: 0;
}
.clearfix::after {
  margin: 0;
  clear: both;
}
.services__body--active{
  margin: 0 auto;
  width: 630px;
  float: right;
  display: inline-block;
}
.services__body--active h2{
  padding-left: 10px;
  text-transform: capitalize;
  font-size: 20px;
  border: 0;
  border-left: 4px;
  border-color: #ff9933;
  border-style: solid;
  color: #333333;
}
.services__body--active p{
  text-align: justify;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 32px;
  font-size: 14px;
  color: #333333;
}
.services__body--active button{
  margin: 0 auto;
  margin-bottom: 40px;
  height: 38px;
  line-height: 38px;
  width: 142px;
  border: 0px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff9933;
  border-width: 0;
  border-radius: 19px;
  color: #fff;
}
