* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slider-wrapper{
	background-color: #8d8d8d;
	height: 750px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
}
.slider-content {
	position: relative;
	top:45%;
}
.slider-images{
	line-height: 1200px;
}
.main-wrapper {
	margin-left: 140px;
	margin-right: 140px;
	margin-top: 90px;
}
.main{
  margin: 0 auto;
	display: inline-block;
	width:45%;
}
.main-title{
	text-transform: uppercase;
}
.main-title p,h2{
	margin:0;
}
.main-content{
	margin-top: 30px;
	font-size: 14px;
}
.main-side{
	width:35%;
	display: inline-block;
	vertical-align: top;
	margin-left: 100px;
}
.nav-wrapper {
  margin: 0 auto;
  height: 50px;
  /*width: 1150px;*/
  background-color: #d2edf3;
  line-height: 50px;
}
.nav-wrapper__contact {
  font-size: 14px;
  height: 50px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 1150px;
  color: #999999;
  font-weight: bold;
}
.nav-wrapper__contact p{
  margin: 0 auto;
  display: inline-block;
}
.nav-wrapper__contact ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.nav-wrapper__contact li{
  width: 200px;
  margin: 0;
  display: inline-block;
}
.nav-wrapper__contact li:nth-child(1) {
  border-width: 1px;
  width: 180px;
  border-right-style: solid;
}
.nav-wrapper__contact h3{
  line-height: 50px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  font-size: 14px;
}
.nav-wrapper__contact li h3{
  padding-left: 20px;
}
.nav-wrapper__contact img {
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.nav-wrapper__contact a {
  color: inherit;
  text-decoration: none;
}
.nav-wrapper__container {
  font-size: 14px;
  height: 80px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 1150px;
  color: #999999;
  font-weight: bold;
}
.nav-wrapper__container img{
  margin: 0 auto;
  padding-top: 20px;
}
.nav-wrapper__container h1{
  position: absolute;
  left: -99999px;
}
.nav-wrapper__menu {
  font-size: 14px;
  height: 80px;
  margin: 0 auto;
  text-transform: uppercase;
  width: 1150px;
  line-height: 80px;
}
.nav-wrapper__menu button {
  margin: 0 auto;
  height: 46px;
  line-height: 46px;
  width: 142px;
  border: 0px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  background-color: #29c2e1;
  border-width: 0;
  border-radius: 23px;
  color: #fff;
}
.nav-wrapper__menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
}
.nav-wrapper__menu li{
  height: 80px;
  line-height: 80px;
  padding-left: 42px;
  margin: 0;
  display: inline-block;
}
.nav-wrapper__menu a{
  color: inherit;
  text-decoration: none;
}
